{% extends "base.html" %}
{% block content %}

<section class="about-section">
    <div>
        <p class="about-tag">Contact</p>
        <h1>Get in Touch</h1>
        <p>If you have any questions about Smart Sorting or want to collaborate, feel free to reach out.</p>

        <p><strong>Developer:</strong> Veeramalla Venkata Durga Parvathi</p>
        <p><strong>Email:</strong> venkatadurgaparvathiveeramalla@gmail.com</p>
        <p><strong>GitHub:</strong>
            <a href="https://github.com/VenkataDurga-Parvathi/smart-sorting" target="_blank">
                github.com/VenkataDurga-Parvathi/smart-sorting
            </a>
        </p>
    </div>

    <div>
        <p class="about-tag">Team</p>
        <h1>SmartInternz Project Team</h1>
        <ul class="bullets">
            <li>
                <i class="fa-solid fa-user-tie"></i>
                <span><strong>Team ID:</strong> LTVIP2026TMIDS77295</span>
            </li>
            <li>
                <i class="fa-solid fa-users"></i>
                <span><strong>Team Size:</strong> 4</span>
            </li>
            <li>
                <i class="fa-solid fa-crown"></i>
                <span><strong>Team Leader:</strong> Venkata Durga Parvathi Veeramalla</span>
            </li>
            <li>
                <i class="fa-solid fa-user"></i>
                <span><strong>Team Member:</strong> Divija Durga Eedupuganti</span>
            </li>
            <li>
                <i class="fa-solid fa-user"></i>
                <span><strong>Team Member:</strong> Eella Harika</span>
            </li>
            <li>
                <i class="fa-solid fa-user"></i>
                <span><strong>Team Member:</strong> Eluri Sumanth</span>
            </li>
        </ul>
    </div>
</section>

{% endblock %}
